body {
        
        height: 100%;
        width: 100%;
    }
    #map {

        width: 50%;
        height: 50%;
    }

 table 
 {
 	float: left;
 	border: 1px solid black;
 	width: 50%;

 }

 table, th, td {
    border: 1px solid black;
}

