@{
    ViewBag.Title = "Taxi Cab Service";
}

<div id="mainContent" class="pure-g full-height">
    <div class="pure-u-1-1 full-height">
        <div class="k-content-wide">
            <div id="toolbar"></div>
            <div id="toolbar2"></div>
        </div>

        <div style="height: 90%">
            <div id="map" class="map-container"></div>
        </div>
    </div>

</div>
<div id="popup"></div>
<div id="quickInfo"></div>
<div id="barChart"></div>

<script>
    $(document).ready(function () {
        //initialize all of the UI features from Kendo and draw the Leaflet map
        InitializeInterface();
    });
</script>